{% extends 'base.html' %}
{% load static from staticfiles %}
{% block primary %}

  <!-- Heading Row -->
  <div class="row my-4">
    <div class="col-lg-8">
      <img class="img-fluid rounded" src="{% static 'img/bmw.jpg' %}" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
      <h1>SystemPomiaruCzasu</h1>
      <p>System stworzony do pomiaru czasu przejazdów na imprezach typu KJS. Pomysł stworzenia aplikacji narodził się na torze treningowym w Rusocinie</p>
      <a class="btn btn-primary btn-lg" href="{% url 'race_list' %}">Zobacz Imprezy!</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">System jest ciągle w wersji testowej. Uwagi proszę zgłaszać mailowo: dymbol.linux_at_gmail.com</p>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Rejestr wyników</h2>
          <p class="card-text">Obserwuj na bierząco zmagania załóg!</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'results' %}" class="btn btn-primary">Wyniki</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Lista zawodników</h2>
          <p class="card-text">Sprawdź listę zawodników na danej imprezie. Zobacz ich numer startowy, a także opis pojazdu jakim się porusza</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'team_list' %}" class="btn btn-primary">Lista zawodników</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Rejestrowanie</h2>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->
{% endblock %}
