{% extends 'base.html' %}
{% load static from staticfiles %}
{% block primary %}
<div class="row">
    <section id="main-content">
      <section class="wrapper">

      <div class="row">
          <div class="col-lg-12">
              <h1>Team: <span class="badge badge-lg badge-secondary">{{ team.driver }}/{{ team.navigator }}</span></h1>
              <h1>Aktualna pętla: <span class="badge badge-secondary">{{ request.session.current_loop}}</span></h1>
              <h1>Aktualna trasa: <span class="badge badge-secondary">{{ request.session.current_track_name}}</span></h1>
              <h1>Aktualny czas: <span class="badge badge-secondary" id="time_clock">New</span></h1>
          </div>
      </div>
      <div class="col-lg-12">
                <section class="panel">
                  <div><a class="btn btn-info" href="{% url 'race' request.session.chosen_race_id %}">Zmień trasę/pętlę <i class="fa fa-clock-o"></i></a>
                  <a class="btn btn-lg btn-danger" href="">Rozpocznij pomiar <i class="fa fa-clock-o"></i></a></div>
                </section>
      </div>
      </section>
        </section>

    </div>


    <script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        var ms = today.getMilliseconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('time_clock').innerHTML =
        h + ":" + m + ":" + s+ ":" + ms;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
    </script>
    <body onload="startTime()">
{% endblock %}