[Unit]
Description=System Pomiaru Czasu
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /home/spc/SPC_conf/spc.bdempc.pl/spc_uwsgi.ini
WorkingDirectory=/home/spc
Restart=always
KillSignal=SIGQUIT
Type=notify
User=spc
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

